<h3><strong>Chat Overview</strong></h3>
<hr>
<table class="responsive-table striped">
  <thead>
    <tr>
        <th data-field="id">Host Name</th>
        <th data-field="price">Total Time</th>
        <th data-field="price">Hourly Rate</th>
        <th data-field="price">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @teacher.name %></td>
      <td><%= @time %> seconds</td>
      <td>$<%= @hourly_rate %> per hour</td>
      <td>Free! (Less than 10 mins)</td>
    </tr>
  </tbody>
</table>
<br><br>
<hr>
<p>Your account has been debited $<%= @total %>. Your balance is $<%= @remainder %></p>

<a href="/" class="right waves-effect waves-light btn dark grey rounded-btn lighten-3">Return Home</a>


