<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Webcam App</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">  
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="/javascript/application.js"></script>
  </head>


  <!-- Top Navbar -->
  <nav class="dark-pattern fixed">
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="right">
        <div class="row">

        <% if current_user %>

           <% if @in_room %>
            <li><a id="timer_button" class="waves-effect waves-light rounded-btn green accent-4 btn tooltipped" data-position="left" data-delay="50" data-tooltip="Timer will begin"><span id="timer_text">Start Session</span></a></li>
            <li><a href="/host_room" id="leave-room" href="#" class="tooltipped" data-position="right" data-delay="50" data-room-id="<%= @room.id %>" data-teacher-id="<%= @room.teacher_id %>" data-user-id="<%= @room.user_id %>" data-tooltip="End Session"><i id="end-session" class="fa fa-power-off fa-2x"></i></a></li>

          <% else %>
            <% if current_user.is_online %>
              <% @create_room = "visible" %>
            <% else %>
              <% @create_room = "hidden" %>
            <% end %>

            <span id="butt32" class="<%= @create_room %>">
            <li id="create-room" data-host="<%= current_user.has_taught %>"><a href="/rooms/create" target="_blank" class="waves-effect waves-light rounded-btn green accent-4 btn">Create Room</a></li>
            </span>
            <li><a class='dropdown-button hide-on-med-and-down' href='#' data-beloworigin='true' data-activates='dropdown1'><%= current_user.name %> <i class="fa fa-chevron-down"></i></a></li>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/user/profile"><span class="left">View Profile </span> <i class="fa fa-user right"></i></a></li>
                <li><a href="/user/settings"><span class="left">Edit Profile </span><i class="fa fa-cog right"></i></a></li>
                <li class="divider"></li>
                <li><a href="/logout"><span class="left">Logout </span><i class="fa fa-power-off right"></i></a></li>
              </ul>
            <!-- No comment, it works :P -->
            <% if current_user.is_online %>
              <% @user_status = "Go Offline" %>
            <% else %>
              <% @user_status = "Go Online" %>           
            <% end %>

            <% if current_user.is_online %>
              <% @power_btn = "on" %>
            <% else %>
              <% @power_btn = "off" %>
            <% end %>

            <li><a id="status-tip" href="#" class="tooltipped" data-position="right" data-delay="50" data-tooltip="<%= @user_status %>"><i id="power-on" data-current-user-id="<%= current_user.id %>" class="fa fa-power-off fa-2x <%= @power_btn %>"></i></a></li>
            <!-- end  -->
          <%end%>
        <% end %>

        </div>
      </ul>
    </div>
  </nav>
  
  <!-- Side Navbar -->
  <ul class="side-nav fixed">
    <div id="logo-box">
    <a href="/"><img id="logo" src="/images/logo1.svg"></a>
      <!-- <img src="http://placehold.it/160x65"> -->
    </div>
      <li class="active"><a href="/">Home</a></li>
      <li class="filter" id="All"><a href="#!">All</a></li>
      <li class="filter" id="Computers"><a href="#!">Computers</a></li>
      <li class="filter" id="Finance"><a href="#!">Finance</a></li>
      <li class="filter" id="Legal"><a href="#!">Legal</a></li>
      <li class="filter" id="Design"><a href="#!">Design</a></li>
      <li class="filter" id="Sports"><a href="#!">Sports</a></li>
      <li class="filter" id="Gaming"><a href="#!">Gaming</a></li>
      <li class="filter" id="Food"><a href="#!">Food</a></li>
      <li><a class="modal-trigger" href="#explicit">Adult</a></li>
  </ul>
<body>





   <div class="container content">
    <div class="section">
      <div class="section scrollspy">
        <div class="row">
          <div id="hacker"></div>
          
          <%= yield %>

        </div> <!-- /row -->
      </div> 
    </div> <!-- /section -->
  </div> <!-- /container -->





  <!-- Explicit Modal  -->
  <div class="explicit-modal">
    <div id="explicit" class="modal">
      <div class="modal-content center">
        <h4><strong>WARNING! 18+ CONTENT</strong></h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam voluptate explicabo soluta atque nesciunt alias possimus vero. Facere qui nam necessitatibus quia ex ab eaque, consectetur repudiandae odit iste, quaerat!</p>
        <a class="waves-effect red darken-4 rounded-btn btn">Proceed</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a class="modal-close waves-effect red darken-4 rounded-btn btn">No Thanks</a>
      </div>
    </div>
  </div>







  </body>
</html>

